@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;800&display=swap');
.forgetpswd{
    width:100vw;
    height:100vh;
    background-image:url("./images/background.png");
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}
.forgetpswdimg{
    background-color: #8BB6B2;
    width:25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetpswdimg img{
    width:25rem;
}
.forgetdiv{
    background-color: white;
    width:25rem;
    height: 25rem;
    
}
.forgetdiv div{
    width:80%;
    height:80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.email-reset{
    
    position: relative;
    top:7rem;
    right:2rem;
    display: flex;
    align-items: center;
    
}
.email-reset input{
    margin-top: 4px;
    width: 19rem;
    padding: 10px 5px;
    text-indent: 5px;
    outline: none;
}
.forgetdiv h2{
    position: absolute;
    top:1.5rem;
}
.forgetdiv p{
    position: absolute;
    top:4rem;
    font-size: 10px;
    color: #9E9A9A;
}
.send{
    display: flex;
    /* width:100%; */
    justify-content: center;
    position: relative;
    top:5rem;
    right:2rem;
    width:5rem;
    padding: 10px 5px;
    border: none;
    border-radius: 20px;
    background-color:#FA6B51;
    color:white;
    margin-top: 1rem;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    text-decoration: none;
}
.loginback{
    position: absolute;
    top:22.5rem;
    text-decoration: none;
}
.registered_not{
    font-weight: 200;
    font-size: 13px;
    border:1px solid red;
    border-radius: 5px;
    padding: 5px;
    color:red;
    margin-bottom: 1rem;
}
.hide{
    display: none;
}
@media screen and (max-width:812px){
    .forgetpswdimg{
        display: none;
    }
}
@media  screen and (max-width:417px) {
    .forgetdiv{
        width:18rem;
    }
    .email-reset input{
        width:15rem;
    }
    .forgetdiv p{
        position: absolute;
        top:6rem;
    }
}